*csv
*tsv
*.gz
*.sty
*.RData
*.Rhistory	
cogsci-2015/paper/CogSci_Template.bib
cogsci-2015/paper/apacite.bst
cogsci-2015/paper/cogsci_template.aux
cogsci-2015/paper/cogsci_template.log
cogsci-2015/paper/cogsci_template.pdf
cogsci-2015/paper/generics-cogsci15.aux
cogsci-2015/paper/generics-cogsci15.bbl
cogsci-2015/paper/generics-cogsci15.blg
cogsci-2015/paper/generics-cogsci15.log
cogsci-2015/paper/generics-cogsci15.pdf
cogsci-2015/paper/outline.aux
cogsci-2015/paper/outline.log
cogsci-2015/paper/outline.pdf
cogsci-2015/presentation/

cbg2010-replication/analysis/plots/
