*csv
*tsv
*.gz
*aiff
*aup
*bbl
*blg
*log
*aux
*lof
*synctex
*toc
*pdf
*.RData
*.Rhistory
cogsci-2015/paper/CogSci_Template.bib
cogsci-2015/paper/apacite.bst
cogsci-2015/paper/cogsci_template.aux
cogsci-2015/paper/cogsci_template.log
cogsci-2015/paper/cogsci_template.pdf
cogsci-2015/paper/generics-cogsci15.aux
cogsci-2015/paper/generics-cogsci15.bbl
cogsci-2015/paper/generics-cogsci15.blg
cogsci-2015/paper/generics-cogsci15.log
cogsci-2015/paper/generics-cogsci15.pdf
cogsci-2015/paper/outline.aux
cogsci-2015/paper/outline.log
cogsci-2015/paper/outline.pdf
cogsci-2015/presentation/
cbg2010-replication/turk/
cbg2010-replication/analysis/plots/
cbg2010-replication/analysis/cbg-analysis.html
cbg2010-replication/cbg-analysis.knit.md
cbg2010-replication/models/bayesian_analysis/cbg-analysis.knit.md
cbg2010-replication/models/cbg_speaker2.church
cbg2010-replication/models/experimenter.church
cbg2010-replication/models/listenter-test.church
cbg2010-replication/models/scalarimplicature.church
cbg2010-replication/models/scratch.church
cbg2010-replication/models/tfbt_cbg_asymmetry.church
cbg2010-replication/models/tfbt_cbg_asymmetry2.church
cbg2010-replication/models/tfbt_kinds.church
bgh2014-replication/mturk/
*auth.json
*mturk-and-gmail.txt
*key
experiments/turk*
*.DS_Store
manuscript/models/node_modules/naturalUtils/node_modules
manuscript/models/node_modules/asymUtils/node_modules
*npm-debug.log
